@using MangoRead.Domain.ViewModels.Manuscript;
@using MangoRead.Domain.Models.Account;
@using Microsoft.AspNetCore.Identity;
@using MangoRead.Domain.Enums;

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@model ManuscriptDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="row mb-4">
    <h4><span class="_details-manuscript-title">Details of</span> <i>@Model.Title</i></h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleImage)
        </dt>
        <dd class="col-sm-10">
            @if (Model.TitleImage != null)
            {
                <img id="titleImage" style="width:250px;height:356px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.TitleImage))">
            }
            else
            {
                <img id="titleImage" style="width:250px;height:356px; object-fit:cover" src="">
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequireLegalAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRequireLegalAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenresString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenresString)
        </dd>
    </dl>
</div>
<div class="row mb-4">
    <a asp-area="" asp-controller="Manuscript" asp-action="Upload" asp-route-id="@Model.Id" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark">
        Add content
    </a>
</div>
<div class="row mb-4">
    <a asp-area="" asp-controller="ManuscriptReview" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark">Write a review</a>
    <div>
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reviews[0].Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reviews[0].UpdateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reviews[0].Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reviews[0].Rating)
                    </th>
                    <th>                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Reviews)
                {        
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            <a asp-area="" asp-controller="ManuscriptReview" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                                See
                            </a> 
                        </td>
                    </tr>
                }
          </tbody>
        </table>
    </div>
</div>
<div class="row mb-4">
    <ul class="list-inline">
        <li class="list-inline-item">    
            <a class="btn btn-info" data-mdb-ripple-color="dark" asp-area="" asp-controller="Manuscript" asp-action="Index">Return to list</a>
        </li>
        @if (_signInManager.IsSignedIn(User))
        {    
            
            @if (User.IsInRole("Basic"))
            {
                <li class="list-inline-item">  
                    <a class="btn btn-info" data-mdb-ripple-color="dark" asp-area="Identity" asp-page="/Account/Manage/ManuscriptManagement/ManuscriptManagementBasic">Manage</a>
                </li>
            }
            else
            {
                <li class="list-inline-item">  
                    <a class="btn btn-info" data-mdb-ripple-color="dark" asp-area="Identity" asp-page="/Account/Manage/ManuscriptManagement/ManuscriptManagementAdvanced">Manage</a>
                </li>
            }

            @if (User.Identity.Name == Model.Publisher || User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <li class="list-inline-item">            
                    <a asp-area="" asp-controller="Manuscript" asp-action="Edit" class="btn btn-secondary _index-manuscript-edit" asp-route-id="@Model.Id" data-mdb-ripple-color="dark">Edit</a>
                </li>
            }

            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                @if (Model.ApprovalStatus != ApprovalStatus.Approved)
                {
                    <li class="list-inline-item">            
                        <a asp-area="" asp-controller="Manuscript" asp-action="Approve" class="btn btn-success _index-manuscript-approve" asp-route-id="@Model.Id" data-mdb-ripple-color="dark">Approve</a>
                    </li>
                }
                @if (Model.ApprovalStatus != ApprovalStatus.Rejected)
                {
                    <li class="list-inline-item">            
                        <a asp-area="" asp-controller="Manuscript" asp-action="Reject" class="btn btn-warning _index-manuscript-reject" asp-route-id="@Model.Id" data-mdb-ripple-color="dark">Reject</a>
                    </li>
                }
                <li class="list-inline-item">            
                    <a asp-area="" asp-controller="Manuscript" asp-action="Delete" class="btn btn-danger _index-manuscript-delete" asp-route-id="@Model.Id" data-mdb-ripple-color="dark">Delete</a>
                </li>
            }
        } 
    </ul>
</div>