@using MangoRead.Domain.ViewModels.Manuscript;
@using MangoRead.Domain.Models.Account;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> _signInManager

@model ManuscriptDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4><span class="_details-manuscript-title">Details of</span> <i>@Model.Title</i></h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleImage)
        </dt>
        <dd class="col-sm-10">
            @if (Model.TitleImage != null)
            {
                <img id="titleImage" style="width:250px;height:356px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.TitleImage))">
            }
            else
            {
                <img id="titleImage" style="width:250px;height:356px; object-fit:cover" src="">
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequireLegalAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRequireLegalAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenresString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenresString)
        </dd>@*
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <div class="img-container">                
                <img src="@(Model.Image.RelativePath)"/>
            </div>
        </dd>*@
    </dl>
</div>
<div>
    @if (_signInManager.IsSignedIn(User) && !User.IsInRole("Basic"))
    {
        <a asp-area="" asp-controller="Manuscript" asp-action="Edit" class="_index-manuscript-edit" asp-route-id="@Model.Id">Edit</a>
    }    
    <a asp-area="" asp-controller="Manuscript" asp-action="Index" class="_edit-manuscript-back">Back to List</a>
</div>
