@using MangoRead.Domain.Entities;

@model Manuscript

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Details of <i>@Model.Title</i></h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>@*
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <div class="img-container">                
                <img src="@(Model.Image.RelativePath)"/>
            </div>
        </dd>*@
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Review.Id">Edit</a> |*@
    <a asp-area="" asp-controller="Manuscript" asp-action="Index">Back to List</a>
</div>
