@using MangoRead.Domain.Models;
@using MangoRead.Domain.Models.Account;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> _signInManager

@model List<Manuscript>

@{
    ViewData["Title"] = "List of Manuscripts";
}

<h1 class="_index-manuscript">List of Manuscripts</h1>
<br/>

<p>
    @if (_signInManager.IsSignedIn(User))
    {
        <a asp-action="Create" class="_index-manuscript-create">Create New</a>
    }
</p>
<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TitleImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.TitleImage != null)
                    {
                        <img id="titleIndexImage" style="width:150px;height:256px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.TitleImage))">
                    }
                    else
                    {
                        <img id="titleIndexImage" style="width:150px;height:256px; object-fit:cover" src="">
                    }
                </td>
                <td>
                    <a asp-area="" asp-controller="Manuscript" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>                     
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
  </tbody>
</table>